tqdm==4.67.1
ipdb==0.13.13
pyyaml==6.0.3
wandb==0.15.0
flax==0.6.10
tensorflow-cpu==2.9.0
tensorflow_datasets==4.9.2
tensorflow_io==0.26.0
tensorboard==2.9.0
tensorflow_hub==0.16.1
moviepy==1.0.3
protobuf==3.20.3
lpips-jax==0.1.0
ffmpeg-python==0.2.0
internetarchive==5.0.5
cloudpickle==1.6.0
crafter==1.8.3
jax==0.4.13
jaxlib==0.4.11+cuda11.cudnn86 -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
numpy==1.24.3
optax==0.1.7
rich==14.2.0
ruamel.yaml==0.17.40
tensorflow_probability==0.21.0
dm_control==1.0.23
opencv-python==4.12.0.88
gym==0.17.3